<div class="container-fluid">
  <app-navbar></app-navbar>
  <div class="container">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-auto"></div>
      <div class="col-4">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createClienteModal">
          Crear Cliente
        </button>
      </div>
    </div>
    <div class="row">
      <table class="table table-Info table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Estado</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>xxxxxxx</td>
            <td>xxxxxxxx</td>
            <td>xxxxxxxx</td>
            <td>xxxxxxx</td>
            <td>
              <button class="btn btn-success" (click)="orientacion(1)">Orientacion</button>
              <button class="btn btn-secondary">Contrato</button>
              <button class="btn btn-secondary">Poder</button>
              <button class="btn btn-secondary">Recibo</button>
              <button class="btn btn-light">Paz Y Salvo</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="createClienteModal" tabindex="-1" aria-labelledby="createClienteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="createClienteModalLabel">REGISTRAR CLIENTE</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <h4 class="text-center">INFORMACIÓN PERSONAL</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="cedula" class="col-form-label">Cedula:</label>
                  <input type="text" class="form-control" id="cedula">
                </div>
              </div>
              <div class="col-md-6">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="nombres" class="col-form-label">Nombres:</label>
                  <input type="text" class="form-control" id="direccion">
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="apellidos" class="col-form-label">Apellidos:</label>
                  <input type="text" class="form-control" id="apellidos">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="email" class="col-form-label">Email:</label>
                  <input type="text" class="form-control" id="email">
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="telefono" class="col-form-label">Telefono:</label>
                  <input type="text" class="form-control" id="telefono">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="mb-3">
                  <label for="direccion" class="col-form-label">Direccion:</label>
                  <input type="text" class="form-control" id="direccion">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h4 class="text-center">INFORMACIÓN LABORAL</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <div class="mb-3">
                  <label for="profesion" class="col-form-label">Profesión, labor u oficio:</label>
                  <input type="text" class="form-control" id="profesion">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-check form-switch mt-4">
                  <label class="form-check-label" for="camaraComercio">Camara de comercio</label>
                  <input class="form-check-input" type="checkbox" role="switch" id="camaraComercio">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="ingresos" class="col-form-label">Ingresos mensuales:</label>
                  <input type="text" class="form-control" id="ingresos">
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="descuentos" class="col-form-label">Descuentos de ley:</label>
                  <input type="text" class="form-control" id="descuentos">
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>
