<div class="container-fluid">
  <app-navbar></app-navbar>
  <div class="container">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-auto"></div>
      <div class="col-4">
        <button class="btn btn-primary">Crear Honorario</button>
      </div>
    </div>
    <div class="row">
      <table class="table table-Info table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Valor Menor</th>
            <th scope="col">Valor Mayor</th>
            <th scope="col"> $ Honorario</th>
            <th scope="col"> % Honorario</th>
            <th scope="col"> # Cuotas</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>xx</td>
            <td>xxxxxxx</td>
            <td>xxxxxxxxxxxxxxxxxxxxxxx</td>
            <td>xxxxxxxxxxxxxxxxxxxxxxx</td>
            <td>xxxxxxxxxxxxxxxxxxxxxxx</td>
            <td>xxxxxxxxxxxxxxxxxxxxxxx</td>
            <td>
              <button class="btn btn-warning">Actualizar</button>
              <button class="btn btn-danger">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
