<div class="container-fluid">
  <app-navbar></app-navbar>
  <div class="container mt-3">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-auto"></div>
      <div class="col-4">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#crearHonorario">
          Crear Honorario
        </button>
      </div>
    </div>
    <div class="row">
      <table class="table table-Info table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Valor Menor</th>
            <th scope="col">Valor Mayor</th>
            <th scope="col"> $ Honorario</th>
            <th scope="col"> % Honorario</th>
            <th scope="col"> # Cuotas</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tarifa of tarifas; let i = index">
            <td>{{tarifa.id}}</td>
            <td>{{tarifa.rangoMenor}}</td>
            <td>{{tarifa.rangoMayor}}</td>
            <td>{{tarifa.honorarios}}</td>
            <td>{{tarifa.porcentaje}}</td>
            <td>{{tarifa.numeroCuotas}}</td>
            <td>
              <button type="button" class="btn btn-warning m-1" data-bs-toggle="modal" data-bs-target="#actualizarHonorario">
                Actualizar
              </button>
              <button type="button" class="btn btn-danger m-1" data-bs-toggle="modal" data-bs-target="#eliminarHonorario">
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="modal fade" id="crearHonorario" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="crearHonorarioLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="crearHonorarioLabel">Crear Honorario</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-flud">
          <form class="was-validated">
            <div class="row g-3 align-items-center">
              <div class="col">
                <div class="mb-3">
                  <label for="valormenor" class="form-label">Menor</label>
                  <input type="number" class="form-control" id="valormenor" required>
                </div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <label for="valormayor" class="form-label">Mayor</label>
                  <input type="number" class="form-control" id="valormayor" required>
                </div>
              </div>
            </div>
            <div class="row g-3 align-items-center">
              <div class="col">
                <div class="mb-3">
                  <label for="honorario" class="form-label">Valor Honorario</label>
                  <input type="number" class="form-control" id="honorario" required>
                </div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <label for="porcentaje" class="form-label">% Honorario</label>
                  <input type="number" class="form-control" id="porcentaje" required>
                </div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <label for="cuota" class="form-label">Cuotas</label>
                  <input type="number" class="form-control" id="cuota" required>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button class="btn btn-primary" type="submit">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="actualizarHonorario" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="actualizarHonorarioLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="actualizarHonorarioLabel">Actualizar Honorario</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-flud">
          <form class="was-validated">
            <div class="row g-3 align-items-center">
              <div class="col">
                <div class="mb-3">
                  <label for="valormenor" class="form-label">Menor</label>
                  <input type="number" class="form-control" id="valormenor" required>
                </div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <label for="valormayor" class="form-label">Mayor</label>
                  <input type="number" class="form-control" id="valormayor" required>
                </div>
              </div>
            </div>
            <div class="row g-3 align-items-center">
              <div class="col">
                <div class="mb-3">
                  <label for="honorario" class="form-label">Valor Honorario</label>
                  <input type="number" class="form-control" id="honorario" required>
                </div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <label for="porcentaje" class="form-label">% Honorario</label>
                  <input type="number" class="form-control" id="porcentaje" required>
                </div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <label for="cuota" class="form-label">Cuotas</label>
                  <input type="number" class="form-control" id="cuota" required>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button class="btn btn-primary" type="submit">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="eliminarHonorario" tabindex="-1" aria-labelledby="eliminarHonorarioLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="eliminarHonorarioLabel">Eliminar Honorario</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿ Estas seguro que deseas Eliminar este Honorario ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger">Si</button>
      </div>
    </div>
  </div>
</div>
