<div class="container-fluid">
  <app-navbar></app-navbar>
  <div class="container mt-3">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-auto"></div>
      <div class="col-4">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#crearUsuario">
          Crear Usuario
        </button>
      </div>
    </div>
    <div class="row">
      <table class="table table-Info table-hover table-responsive">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Cedula</th>
            <th scope="col">Nombres y Apellidos</th>
            <th scope="col">Estado</th>
            <th scope="col">Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios">
            <td>{{usuario.id}}</td>
            <td>{{usuario.username}}</td>
            <td>{{usuario.cedula}}</td>
            <td>{{usuario.nombresyapellidos}}</td>
            <td *ngIf="usuario.estado" class="text-success"> Activo </td>
            <td *ngIf="!usuario.estado" class="text-danger"> Inactivo </td>
            <td>
              <button type="button" class="btn btn-warning btn-sm m-1" data-bs-toggle="modal" data-bs-target="#cambiarPassword" (click)="getUsuario(usuario.id)">
                Cambiar Contraseña
              </button>
              <button type="button" class="btn btn-danger btn-sm m-1" data-bs-toggle="modal" data-bs-target="#cambiarEstado" (click)="getUsuario(usuario.id)">
                Cambiar Estado
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="modal fade" id="crearUsuario" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="crearUsuarioLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="crearUsuarioLabel">Crear Usurio</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-flud">
          <form class="was-validated" #formCrearUsuario="ngForm" (ngSubmit)="crearUsuario()">
            <div class="row g-3 align-items-center">
              <div class="col">
                <div class="mb-3">
                  <label for="cedula" class="form-label">Cedula</label>
                  <input type="text" class="form-control" id="cedula" [(ngModel)]="usuario.cedula" name="cedula" pattern="^\d+$" required>
                </div>
              </div>
            </div>
            <div class="row g-3 align-items-center">
              <div class="col">
                <div class="mb-3">
                  <label for="usuario" class="form-label">Nombre Usuario</label>
                  <input type="text" class="form-control" id="username" [(ngModel)]="usuario.username" name="username" required>
                </div>
              </div>
            </div>
            <div class="row g-3 align-items-center">
              <div class="col">
                <div class="mb-3">
                  <label for="nombre" class="form-label">Nombres y Apellidos</label>
                  <input type="text" class="form-control" id="nombresyapellidos" [(ngModel)]="usuario.nombresyapellidos" name="nombresyapellidos" required>
                </div>
              </div>
            </div>
            <div class="row g-3 align-items-center">
              <div class="col">
                <div class="mb-3">
                  <label for="email" class="form-label">Correo Electronico</label>
                  <input type="email" class="form-control" id="email" [(ngModel)]="usuario.email" name="email" placeholder="name@example.com" required>
                </div>
              </div>
            </div>
            <div class="row g-3 align-items-center">
              <div class="col">
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" class="form-control" id="password" [(ngModel)]="usuario.password" name="password" required>
                </div>
              </div>
            </div>
            <div class="row g-3 align-items-center">
              <div class="col">
                <div class="mb-3">
                  <label for="confimapassword" class="form-label">Confirmacion Password</label>
                  <input type="password" class="form-control" id="confimapassword" [(ngModel)]="confimapassword" name="confimapassword" required>
                  <div *ngIf="confimapassword && usuario.password !== confimapassword" class="invalid-feedback">
                    La contraseña no coincide!
                  </div>
                </div>
              </div>
            </div>
            <div class="row g-3 align-items-center">
              <div class="col">
                <div class="mb-3">
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="estado" [(ngModel)]="usuario.estado" name="estado">
                    <label class="form-check-label" for="estado">Estado</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button class="btn btn-primary" type="submit" [disabled]="!confirmacionPassword(usuario.password,confimapassword) || formCrearUsuario.invalid" data-bs-dismiss="modal">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="cambiarPassword" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="cambiarPasswordLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="cambiarPasswordLabel">Cambiar Password</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-flud">
          <form class="was-validated" #fromCambioPassword="ngForm" (ngSubmit)="cambiarPassoword()" >
            <div class="row g-3 align-items-center">
              <div class="col">
                <div class="mb-3">
                  <label for="cedula" class="form-label">Cedula</label>
                  <input type="number" class="form-control" id="cedula" [(ngModel)]="usuarioCambioPassword.cedula" name="cedula" readonly>
                </div>
              </div>
            </div>
            <div class="row g-3 align-items-center">
              <div class="col">
                <div class="mb-3">
                  <label for="password" class="form-label">Password Actual</label>
                  <input type="password" class="form-control" id="password"  [(ngModel)]="usuarioCambioPassword.password" name="password" required>
                </div>
              </div>
            </div>
            <div class="row g-3 align-items-center">
              <div class="col">
                <div class="mb-3">
                  <label for="newPassword" class="form-label">Nuevo Password</label>
                  <input type="password" class="form-control" id="newPassword" [(ngModel)]="usuarioCambioPassword.newPassword" name="newPassword" required>
                </div>
              </div>
            </div>
            <div class="row g-3 align-items-center">
              <div class="col">
                <div class="mb-3">
                  <label for="confirmPassword" class="form-label">Confirmacion Password</label>
                  <input type="password" class="form-control" id="confirmPassword" [(ngModel)]="usuarioCambioPassword.confirmPassword" name="confirmPassword" required>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button class="btn btn-primary" type="submit" [disabled]="!confirmacionPassword(usuarioCambioPassword.newPassword, usuarioCambioPassword.confirmPassword ) || fromCambioPassword.invalid" data-bs-dismiss="modal">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="cambiarEstado" tabindex="-1" aria-labelledby="cambiarEstadoLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="cambiarEstadoLabel">Cambiar Estado</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿ Estas seguro que deseas Cambiar el estado de este Usuario ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="cambiarEstado()">Si</button>
      </div>
    </div>
  </div>
</div>


<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div class="toast" [class.show]="showToast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Notificación</strong>
      <small>Justo ahora</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close" (click)="hideToast()"></button>
    </div>
    <div *ngIf="success" class="toast-body">
      {{successMessage}}
    </div>
    <div *ngIf="error" class="toast-body">
      {{errorMessage}}
    </div>
  </div>
</div>
