<div class="container-fluid">
  <app-navbar></app-navbar>
  <div class="container">
    <div class="card-group">
      <div *ngFor="let insolvencia of insolvencias" class="card text-bg-light mt-3 mb-3">
        <div class="card-header">
          {{ insolvencia.cliente.nombres}}  {{insolvencia.cliente.apellidos}}
          <div class="text-end text-primary">
            {{ insolvencia.estado }}
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{insolvencia.cliente.email}}  {{insolvencia.cliente.telefono}}</h5>

          <p class="card-text">
            Total Gastos Manutencion : {{insolvencia.totalGastosManutencion}} <br>
            Total Deuda Productos : {{insolvencia.totalProductos}}
          </p>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-info btn-sm">Detalle</button>
        </div>
      </div>
    </div>
  </div>
</div>
