<div class="container">
  <div class="row align-items-center mt-5">
    <div class="col-3"></div>
    <div class="col-auto">
      <h2><strong>ORIENTACIÓN INSOLVENCIA ECONÓMICA DE PERSONA NATURAL NO COMERCIANTE</strong></h2>
    </div>
    <div class="col-3"></div>
  </div>
  <div class="g-3 align-items-center mt-5 formulario">
    <form action="orientacion">
      <div class="row">
        <hr>
      </div>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-auto">
          <h3>Datos Cliente</h3>
        </div>
        <div class="col-3"></div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="mb-3">
            <label for="cliente" class="form-label">Cedula</label>
            <input type="text" class="form-control" id="cedula" placeholder="1212212" disabled>
          </div>
        </div>
        <div class="col-auto"></div>
        <div class="col-4">
          <div class="mb-3">
            <label for="cliente" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="cedula" placeholder="xxxxxxxxxx" disabled>
          </div>
        </div>
      </div>
      <div class="row">
        <hr>
      </div>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-auto">
          <h3><strong>CAUSAS DE LA INSOLVENCIA</strong></h3>
        </div>
        <div class="col-3"></div>
      </div>

      <div class="row">
        <div class="col-4">
          <div class="mb-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Default checkbox
              </label>
            </div>
          </div>
          <div class="mb-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Default checkbox
              </label>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="mb-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Default checkbox
              </label>
            </div>
          </div>
          <div class="mb-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Default checkbox
              </label>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="mb-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Default checkbox
              </label>
            </div>
          </div>
          <div class="mb-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Default checkbox
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <hr>
      </div>
      
    </form>
  </div>
  <button class="btn btn-info" (click)="volver()" >volver</button>
</div>
