<div class="container">
  <div class="row align-items-center mt-5">
    <div class="col"></div>
    <div class="col-auto">
      <h2><strong>ORIENTACIÓN INSOLVENCIA ECONÓMICA DE PERSONA NATURAL NO COMERCIANTE</strong></h2>
    </div>
    <div class="col"></div>
  </div>
  <div class="g-3 align-items-center mt-5 formulario">
    <form >
      <div class="row">
        <hr>
      </div>
      <div class="row">
        <div class="col"></div>
        <div class="col-auto">
          <h3><strong>DATOS CLIENTE</strong></h3>
        </div>
        <div class="col"></div>
      </div>
      <div class="row m-1">
        <div class="col-4">
          <div class="mb-3">
            <label for="identificacion" class="form-label">Cedula</label>
            <input type="text" class="form-control" id="identificacion" [(ngModel)]="cliente.identificacion" name="identificacion"  disabled>
          </div>
        </div>

        <div class="col-4">
          <div class="mb-3">
            <label for="nombres" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombres" [(ngModel)]="cliente.nombres" name="nombres" disabled>
          </div>
        </div>
        <div class="col-4">
          <div class="mb-3">
            <label for="telefono" class="form-label">Telefono</label>
            <input type="text" class="form-control" id="telefono"  [(ngModel)]="cliente.telefono" name="telefono" disabled>
          </div>
        </div>
      </div>
      <div class="row">
        <hr>
      </div>
      <div class="row ">
        <div class="col"></div>
        <div class="col-auto ">
          <h3><strong>CAUSAS DE LA INSOLVENCIA</strong></h3>
        </div>
        <div class="col"></div>
      </div>
      <div class="row m-2">
        <div class="col-4" *ngFor="let causa of causas">
          <div class="mb-3">
            <div class="form-check" >
              <input class="form-check-input" type="checkbox" value="{{causa.id}}" id="{{causa.id}}" name="{{causa.nombre}}" (change)="onCheckboxChange($event)">
              <label class="form-check-label" for="{{causa.id}}">
                {{causa.nombre}}
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <hr>
      </div>
      <div class="row ">
        <div class="col"></div>
        <div class="col-auto">
          <h3><strong>ACREEDORES</strong></h3>
        </div>
        <div class="col"></div>
      </div>
      <div class="row m-2">
        <div class="col"></div>
        <div class="col-auto">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregarProductoModal">
            Agregar producto
          </button>
        </div>
        <div class="col"></div>
      </div>
      <div class="row m-2">
        <div class="col"></div>
        <div class="col-auto">
          <table class="table table-striped table-hover table-responsive">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Acreedor</th>
                <th scope="col">Producto</th>
                <th scope="col">Valor Deuda</th>
                <th scope="col">Dias en mora</th>
                <th scope="col">Accion</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let productoin of productosInsolvencia; let i = index">
                <td>{{productoin.id}}</td>
                <td>{{productoin.acreedor.nombre}}</td>
                <td>{{productoin.nombre}}</td>
                <td>{{productoin.valorDeuda}}</td>
                <td>{{productoin.diasMora}}</td>
                <td>
                  <button class="btn btn-danger" (click)="elminiarProducto(i)">Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col"></div>
      </div>
      <div class="row">
        <hr>
      </div>
      <div class="row m-2">
        <div class="col-4"></div>
        <div class="col-auto ">
          <h3><strong>GASTOS DE MANUTENCIÓN </strong></h3>
        </div>
        <div class="col-4"></div>
      </div>
      <div class="row m-2">
        <div class="col"></div>
        <div class="col-auto">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ÍTEM (Mensual)</th>
                <th scope="col">VALOR</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>ENERGÍA</td>
                <td>
                  <input class="form-control" type="number" aria-label="Valor" value="0">
                </td>
              </tr>
              <tr>
                <td>AGUA, ALCANTARILLADO Y ASEO</td>
                <td>
                  <input class="form-control" type="number" aria-label="Valor" value="0">
                </td>
              </tr>
              <tr>
                <td>GAS</td>
                <td>
                  <input class="form-control" type="number" aria-label="Valor" value="0">
                </td>
              </tr>
              <tr>
                <td>TELECOMUNICACIONES (Móvil- Fijo)</td>
                <td>
                  <input class="form-control" type="number" aria-label="Valor" value="0">
                </td>
              </tr>
              <tr>
                <td>TELEVISIÓN</td>
                <td>
                  <input class="form-control" type="number" aria-label="Valor" value="0">
                </td>
              </tr>
              <tr>
                <td>ARRIENDO</td>
                <td>
                  <input class="form-control" type="number" aria-label="Valor" value="0">
                </td>
              </tr>
              <tr>
                <td>ADMINISTRACIÓN</td>
                <td>
                  <input class="form-control" type="number" aria-label="Valor" value="0">
                </td>
              </tr>
              <tr>
                <td>SALUD</td>
                <td>
                  <input class="form-control" type="number" aria-label="Valor" value="0">
                </td>
              </tr>
              <tr>
                <td>SEGUROS</td>
                <td>
                  <input class="form-control" type="number" aria-label="Valor" value="0">
                </td>
              </tr>
              <tr>
                <td>ALIMENTACIÓN</td>
                <td>
                  <input class="form-control" type="number" aria-label="Valor" value="0">
                </td>
              </tr>
              <tr>
                <td>EDUCACIÓN</td>
                <td>
                  <input class="form-control" type="number" aria-label="Valor" value="0">
                </td>
              </tr>
              <tr>
                <td>TRANSPORTE</td>
                <td>
                  <input class="form-control" type="number" aria-label="Valor" value="0">
                </td>
              </tr>
              <tr>
                <td>OTROS GASTOS: Cuales CARRO-TARJETAS</td>
                <td>
                  <input class="form-control" type="number" aria-label="Valor" value="0">
                </td>
              </tr>
              <tr>
                <td>TOTAL</td>
                <td>
                  <input class="form-control" type="number" aria-label="Valor" value="0">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col"></div>
      </div>
      <div class="row">
        <hr>
      </div>
      <div class="row m-2">
        <div class="col"></div>
        <div class="col-auto ">
          <h3><strong>RELACIÓN DE BIENES  </strong></h3>
        </div>
        <div class="col"></div>
      </div>
      <div class="row m-2">
        <div class="col"></div>
        <div class="col-auto ">
          <h4><strong>BIENES MUEBLES</strong></h4>
          <h5>Vehículos, Enceres, Electrodomésticos, ETC.</h5>
        </div>
        <div class="col"></div>
      </div>
      <div class="row m-2">
        <div class="col"></div>
        <div class="col-auto">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Tipo de Bien</th>
                <th scope="col">Valor del Bien</th>
                <th scope="col">Tipo de Afectacion (prenda)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input class="form-control"  type="text" name="marca" id="marca" placeholder="Marca">
                  <input class="form-control"  type="text" name="placa" id="placa" placeholder="Placa">
                  <input class="form-control"  type="text" name="linea" id="linea" placeholder="Linea">
                </td>
                <td>
                  <input class="form-control"  type="number" name="valor" id="valor" placeholder="0">
                </td>
                <td>
                  <textarea class="form-control" name="afectacion" id="afectacion" placeholder="Afectacion"></textarea>
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Total: </strong>
                </td>
                <td>
                  <input class="form-control"  type="number" name="total" id="total" placeholder="0" readonly>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col"></div>
      </div>
      <div class="row m-2">
        <div class="col"></div>
        <div class="col-auto ">
          <h4><strong>BIENES INMUEBLES</strong></h4>
          <h5>Casas, apartamentos, fincas, lotes, bodegas, derechos de Fidi, otros</h5>
        </div>
        <div class="col"></div>
      </div>
      <div class="row m-2">
        <div class="col"></div>
        <div class="col-auto">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Tipo de Bien</th>
                <th scope="col">Valor del Bien</th>
                <th scope="col">Tipo de Afectacion</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <select class="form-control" name="tipo" id="tipo">
                    <option value="">Ninguno</option>
                    <option value="casa">Casa</option>
                    <option value="lote">Lote</option>
                    <option value="apartamento">Apartamento</option>
                  </select>
                  <input class="form-control"  type="text" name="direccion" id="direccion" placeholder="Direccion">
                  <input class="form-control"  type="text" name="matricula" id="matricula" placeholder="Matricula Inmobiliaria">
                </td>
                <td>
                  <input class="form-control"  type="number" name="valor" id="valor" placeholder="0">
                </td>
                <td>
                  <select class="form-control" name="tipo" id="tipo">
                    <option value="">Ninguno</option>
                    <option value="hipoteca">Hipoteca</option>
                    <option value="patrimonio">Patrimonio Familiar</option>
                    <option value="afectacion">Afectacion a la vivienda</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Total: </strong>
                </td>
                <td>
                  <input class="form-control"  type="number" name="total" id="total" placeholder="0" readonly>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col"></div>
      </div>
      <div class="row m-2">
        <div class="col"></div>
        <div class="col-auto ">
          <h3><strong>INFORMACION JUDICIAL</strong></h3>
          <h5>Procesos en contra (ejecutivos y coactivos)</h5>
        </div>
        <div class="col"></div>
      </div>
      <div class="row m-2">
        <div class="col">
          <div class="mb-3">
            <label for="juzgado" class="form-label">Juzgado</label>
            <input type="text" class="form-control" id="juzgado">
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label for="radicado" class="form-label">Radicado</label>
            <input type="text" class="form-control" id="radicado">
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label for="demandante" class="form-label">Demandante</label>
            <input type="text" class="form-control" id="demandante" >
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label for="proceso" class="form-label">Tipo de Proceso</label>
            <input type="text" class="form-control" id="proceso" >
          </div>
        </div>
      </div>
      <div class="row m-2">
        <div class="col"></div>
        <div class="col-auto ">
          <h3><strong>PROPUESTA DE PAGO</strong></h3>
        </div>
        <div class="col"></div>
      </div>
      <div class="row m-2">
        <div class="col">
          <div class="mb-3">
            <label for="valorcuota" class="form-label">Valor Cuota Mensual</label>
            <input type="text" class="form-control" id="valorcuota" readonly >
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label for="tiempo" class="form-label">Tiempo</label>
            <input type="text" class="form-control" id="tiempo" readonly >
          </div>
        </div>
      </div>
      <div class="row m-2">
        <div class="col"></div>
        <div class="col-auto ">
          <h3><strong>BENEFICIOS DE LA LEY DE INSOLVENCIA ECONOMICA</strong></h3>

        </div>
        <div class="col"></div>
      </div>
      <div class="row m-2">
        <div class="col"></div>
        <div class="col-auto">
          <p>
            1. Suspensión de procesos <br>
            2. Suspensión de libranzas <br>
            3. No embargos <br>
            4. No procesos judiciales <br>
            5. No suspensión de servicios públicos domiciliarios <br>
            6. Protección del patrimonio <br>
            7. Fórmulas de pago que pueden incluir: condonación de intereses, pagos a capital, periodos
            de gracia.
          </p>
          <p>
            ANEXOS NECESARIOS: deberá anexar copia de su documento de identidad, certificado de ingresos,
            certificación de existencia y representación legal de los acreedores en caso de ser entidades expedida por la
            correspondiente cámara de comercio.
          </p>
        </div>
        <div class="col"></div>
      </div>
      <div class="row m-2">
        <div class="col"></div>
        <div class="col-auto">

            <button class="btn btn-info m-1" (click)="volver()" >volver</button>


            <button class="btn btn-success m-1" (click)="generar()" >Guardar</button>

        </div>
        <div class="col"></div>
      </div>
    </form>
  </div>

</div>


<div class="modal fade" id="agregarProductoModal" tabindex="-1" aria-labelledby="agregarProductoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="cagregarProductoModalLabel">PRODUCTOS</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="was-validated" #formCrearCliente="ngForm" (ngSubmit)="agregarProducto()">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                  <div class="mb-3">
                    <label for="acreedor" class="col-form-label">Acreedor:</label>
                    <select class="form-select" aria-label="Default select example" [(ngModel)]="insolvenciaProducto.acreedor.id" name="acreedor" (change)="listProductosByAcreedor(insolvenciaProducto.acreedor.id)" required>
                      <option selected></option>
                      <option *ngFor="let acreedor of acreedores" value="{{acreedor.id}}">{{acreedor.nombre}}</option>
                    </select>
                  </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="producto" class="col-form-label">Producto:</label>
                  <select class="form-select" aria-label="Default select example" [(ngModel)]="insolvenciaProducto.id" name="producto" required>
                    <option selected></option>
                    <option *ngFor="let producto of productos" value="{{producto.id}}">{{producto.nombre}}</option>
                  </select>
                </div>
            </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="valorDeuda" class="col-form-label">Valor Deuda:</label>
                  <input type="text" class="form-control" id="valorDeuda" [(ngModel)]="insolvenciaProducto.valorDeuda" name="valorDeuda" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="diasMora" class="col-form-label">Dias de Mora:</label>
                  <input type="text" class="form-control" id="diasMora" [(ngModel)]="insolvenciaProducto.diasMora" name="diasMora" required>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-primary" [disabled]="formCrearCliente.invalid" data-bs-dismiss="modal">Agregar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
